// .table {
//   margin-top: 20px;
// }

// .table th {
//   background-color: #f8f9fa; // Light background for the header
// }

// .table td {
//   vertical-align: middle; // Center-align the content
// }


.my-ratings {
  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
  }

  form {
    margin-top: 20px;

    input {
      margin-right: 10px;
    }
  }
}
